/*공통사항*/
*{margin: 0; padding: 0; box-sizing: border-box;}
html, body {overflow-x:hidden; background-color: #fff;}
ul,li{list-style-type: none;}
.mo{display: none;}
.pc{display: block;}
.inline{display: inline;}
img{display: block; width: 100%;}
img.px{image-rendering: pixelated;}
body{font-size: 16px;}
#container{position: relative; width: 100%;}
a{text-decoration: none;}
/* 다이나믹 텍스트 효과 시작  */
.wrap{
    text-align: center;
    z-index: 1;
    padding-top: 14%;
    padding-bottom: 4%;
    
}

.lg-text{
    font-family:fantasy;
    font-size: 2.8vw;
    font-weight: 400;
    color: white;
    
    
}

#dynamic{
    position: relative;
    display: inline-block;

}
#dynamic::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}
#dynamic.active::after{
  display: none;
} 


header{height: 10vh;;border: 1vh; width: 100%; z-index:999;top: 0;
left: 0;padding: 1px; background-color: rgba(250, 250, 250, 0.7); }
h1{ line-height: 10vh;float: left;
display: block;font-size: 2vw;  font-family: 'Nanum Brush Script', cursive;}
h1 a{color: #000;}
.wrapper{width: 80vw; margin: 0 auto;}
.menu{float: right;font-size: 1vw;}
.menu li{float: left;font-weight: bold;color: #000;}
.menu a{line-height:10vh;padding:0 15px; display: block;color: #000;}
.wrapper :hover{
    color:cornflowerblue;
}
/* 상단 네비 스크롤 이동 */
.fix {
    position:fixed;
    animation: down 0.5s ease
    
    
  }
  
  @keyframes down {
    0%{
      transform: translateY(-50px)
    }
    100%{
      transform: translateY(0px)
    }
  }


 /* 헤더라인 끝 */

#sec1{position: relative; width: 100%; height: 55rem; background-color:#fff;}
#sec2{position: relative; width: 100%; background-color:#fff;}
#sec3{position: relative; width: 100%; background-color:#fff;}
#sec4{position: relative; width: 100%; background-color:#fff;}
#sec5{position: relative; width: 100%; background-color:#fff;}
#sec6{position: relative; width: 100%; background-color:rgba(30, 227, 241, 0.7);}


/* 백그라운드 이미지 애니메이션 효과*/

.sec_bg img{width: 100%;}

/*이미지 높이 넓이를 div 값과 맞추는 코드*/
/* #sec1 #bg1{background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/about.jpg)} */

/* 백그라운드 이미지 위에 이미지를 올리는 코드 */


.sec1_main1_img1{position: absolute;top: 25vw; left: 50%; transform: translate(-23vw);width: 15vw;
    animation: flash;
    animation-duration: 2s;
    --animate-delay: 20ms;
    display: none;
 }
.sec1_main1_img2{position: absolute;top: 25vw; left: 50%;transform: translate(-6.8vw);width: 15vw;
    animation: flash;
    animation-duration: 2s;
    --animate-delay: 20ms;
    display: none;
 }
.sec1_main1_img3{position: absolute;top: 25vw; left: 50%;transform: translate(10vw);width: 15vw;
    animation: flash;
    animation-duration: 2s;
    --animate-delay: 20ms;
    display: none;
 }
 /* 슬라이드 이미지 */

 #slider01{position:absolute; top:0;left: 50%; transform: translate(-50%);width: 100%;height: 100%; z-index: 11;}


#sec2 .sec2_main1 :hover{
     transform: scale(1.2); padding: 1% ; color: #000; border-color: seagreen;z-index: 1;/* 작아지는 효과*/
    }

/* .sec2_main1_img1{position: absolute; top: 23vw; left: 50%; transform: translateX(80%); width: 18.604vw; font-size: 0; z-index: 3;}
.sec2_main1_img2{position: absolute; top: 18vw; left: 50%; transform: translateX(10%); width: 18.604vw; font-size: 0; z-index: 1;}
.sec2_main1_img3{position: absolute; top: 12vw; left: 50%; transform: translateX(80%);  width: 18.604vw; font-size: 0; z-index: 2;} */

.sec2_main1_img1{position: absolute; top: 23vw; left: 65%; width: 18.604vw; font-size: 0; z-index: 3;}
.sec2_main1_img2{position: absolute; top: 18vw; left: 50%; width: 18.604vw; font-size: 0; z-index: 1;}
.sec2_main1_img3{position: absolute; top: 12vw; left: 63%; width: 18.604vw; font-size: 0; z-index: 2;}

#sec3{ background-size:cover;  background-repeat: no-repeat; width:100%; background-image:url('./img/sec3_bg_t.png')}

#sec3 .sec_title{ text-align: center;height:50vh;}
#sec3 .sec3_main1 {height: auto; overflow:inherit; margin-bottom:0 ; text-align: center; }
#sec3 .sec3_main1 > div{width: 18.031vw;padding-bottom:0; display: inline-block; margin:1vw}
#sec3 #sec3_main1_b{padding-bottom: 20px;}
#sec3 .sec3_main1_1{box-shadow: 10px 10px 10px rgb(109, 192, 240);}

#sec3 .sec3_main1_1 :hover{
    transform: scale(1.2); padding:10px; border-color: seagreen;z-index: 1;/* 작아지는 효과*/
}

#sec6 .sec6_t{color: white;}
#sec6 #sec6_t1{text-align: center;padding-top: 50px;font-size:25px;line-height: 80px;letter-spacing: 10px;font-family: 'Noto Sans KR', sans-serif; }
#sec6 #sec6_t2{text-align: center;font-size: 42px; line-height:80px;font-family: 'Noto Sans KR', sans-serif; }


#sec6 .sec6_line {text-align: center;}
#sec6 .sec6_line .sec6_line_b{
  display: inline-block;
  margin:20px;
  padding: 30px;
  color:000;
  text-align: left;
  line-height:30px;
  background-color:white;
  box-shadow: 10px 10px 10px rgb(2, 73, 114);
  font-family: 'Noto Sans KR', sans-serif; 
  display: inline-block;

}

#sec6 .sec6_line .sec6_line_b .b_h
{
 color: rgb(2, 73, 114);
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sec6 .sec6_line .sec6_line_b .b_t
{

font-size: 30px;
padding-bottom: 30px;
}





/* 메인 슬라이드에 스크롤  */
@-webkit-keyframes scroll {
    0% {    -webkit-transform: translateY(0);  }
    50% {    -webkit-transform: translateY(10px);  }
    100% {    -webkit-transform: translateY(0);  }
  }
  @-moz-keyframes scroll {
    0% {    -moz-transform: translateY(0);  }
    50% {    -moz-transform: translateY(10px);  }
    100% {    -moz-transform: translateY(0);  }
  }
  @keyframes scroll {
    0% { -webkit-transform: translateY(0);  -moz-transform: translateY(0);
      -ms-transform: translateY(0);  -o-transform: translateY(0);  transform: translateY(0); }
    50% { -webkit-transform: translateY(10px); -moz-transform: translateY(10px);
      -ms-transform: translateY(10px); -o-transform: translateY(10px);  transform: translateY(10px);  }
    100% { -webkit-transform: translateY(0); -moz-transform: translateY(0);
      -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0);  }
  }
  
  .center-it { z-index:100;  position: absolute;  bottom: 10%;  left: 50%;
    -webkit-transform: translate(-50%, -50%);  -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);  -o-transform: translate(-50%, -50%);  transform: translate(-50%, -50%);}
  
  .caption { font-size:11px; text-align:center; color: rgb(77, 67, 67); opacity:0.6;  margin-top: 7px;}
  
  .mouse {  display: inline-block;  height: 36px; width: 20px; border-radius: 12px; border: 2px solid rgb(95, 80, 80); text-align: center; opacity:0.5}
  .mouse:after {  display: inline-block; height: 6px; width: 6px; background-color: rgb(100, 91, 91); border-radius: 50%;
    content: "";  -webkit-animation: scroll 1.3s ease-out infinite forwards;
    -moz-animation: scroll 1.3s ease-out infinite forwards;  animation: scroll 1.3s ease-out infinite forwards;}
  


/* 우측 스크롤 */
.scrollarrow {
    background-image: url(../img/arrow-down-000.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    width: 1rem;
    height: 3.6rem;
    position: fixed;
    top: 92%;
    opacity: 0.7;
    right: 50%;
    transform: translate(50%,0);
    z-index: 111;
    transition-duration: 200ms;
    animation-name: arrowmove;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    user-select: none;
}
.scrollarrow.move{
    top:50%;
    right:2rem;
    transform:translateY(-50%);
    background-image: url(../img/arrow-down-000.png);
    opacity: 0.4;
    display: block;
}
@keyframes arrowmove{
    0%{
        transform:translate(50%,0);
    }
    50%{
        transform:translate(50%,-1rem);
    }
    100%{
        transform:translate(50%,0);
    }
}







@media screen and (max-width: 768px){
    
    #sec1{position: relative; width: 100%; height: 20rem; background-color:#fff;}
    header{height: 5vh;;border: 1vh; width: 100%; z-index:999;top: 0;
        left: 0;padding: 5px; background-color: rgba(250, 250, 250, 0.7);}
        h1{color:tomato; line-height: 7vh;float: left;
        display: block;font-size: 2vw;  font-family: 'Nanum Brush Script', cursive;}
        .wrapper{width: 80vw; margin: 0 auto;}
        .menu{float: right;font-size: 1vw;}
        .menu li{float: left;font-weight: bold;color: #000;}
        .menu a{line-height:7vh;padding:0 15px; display: block;}
      
}