@charset "UTF-8";
@font-face {
 font-family: 'NotoSansKR Thin';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-thin.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-thin.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-thin.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-thin.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-thin.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-thin.svg#notokr-thin') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'NotoSansKR Regular';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-regular.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-regular.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-regular.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-regular.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-regular.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-regular.svg#notokr-regular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'NotoSansKR Medium';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-medium.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-medium.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-medium.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-medium.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-medium.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-medium.svg#notokr-medium') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'NotoSansKR Light';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-light.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-light.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-light.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-light.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-light.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-light.svg#notokr-light') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'NotoSansKR DemiLigit';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-demilight.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-demilight.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-demilight.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-demilight.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-demilight.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-demilight.svg#notokr-demilight') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'NotoSansKR Bold';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-bold.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-bold.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-bold.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-bold.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-bold.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-bold.svg#notokr-bold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'NotoSansKR Black';
 src: url('/bizdemo51158/img/NotoSansKR/notokr-black.eot');
 src: url('/bizdemo51158/img/NotoSansKR/notokr-black.eot?#iefix') format('embedded-opentype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-black.woff2') format('woff2'),
 url('/bizdemo51158/img/NotoSansKR/notokr-black.woff') format('woff'),
 url('/bizdemo51158/img/NotoSansKR/notokr-black.ttf') format('truetype'),
 url('/bizdemo51158/img/NotoSansKR/notokr-black.svg#notokr-black') format('svg');
 font-weight: normal;
 font-style: normal;
}