*{margin: 0; padding: 0; box-sizing: border-box;}


.mo_block{display: none;}
.mo_none{display: block;}
.inline{display: inline;}
img{display: block; width: 100%;}
img.px{image-rendering: pixelated;}
body{font-size: 16px;}
#container{position: relative; width: 100%;}

/*header*/
#header{position: relative; width: 100%; height: 6.146vw; text-align: center; background-color: #000;}
#header .logo{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 17.031vw;}
#header .gr_btn{position: absolute; right: 10.938vw; top: 1.406vw; z-index: 1; width: 10.885vw;}
/* #header .hoverHeart{width: 3.021vw; position: absolute; right:0; top: 2.604vw; pointer-events: none; opacity: 0;} */

/* 클레스 아이디 전체 넓이 크기 조절 값 */
#sec1,#sec2{position: relative; width: 100%; background-color: #fff;}
.sec_bg img{width: 100%;height: 80vh;}
.sec_title{width: 49.010vw;position: absolute;left: 50%;top: 7.813vw;transform: translateX(-50%);}
.sec_sub{position: absolute;left: 50%;transform: translateX(-50%) !important;}

/* 이미지들 위치 값 */
#sec1 .sec1_sub1{position: absolute; top: 6.250vw;left: 50%; transform: translateX(-50%);width: 77.292vw; z-index: 2;}
#sec1 .sec1_sub2{position: absolute; top: 25.573vw; left: 50%; transform: translateX(-50%); width: 52.604vw; font-size: 0;}
#sec1 .sec1_sub2 div{width: 25.833vw; display: inline-block;}
#sec1 .sec1_sub2 div:first-child{margin-right: 0.469vw;}
#sec1 .sec1_sub2 div:last-child{margin-left: 0.469vw;}

#sec2 .sec2_sub{position: absolute; top: 21vw; left: 50%; transform: translateX(-50%); width: 52.604vw; font-size: 0;}
#sec2 .sec2_sub div{width: 25.833vw; display: inline-block;}
#sec2 .sec2_sub div:first-child{margin-right: 0.469vw;}
#sec2 .sec2_sub div:last-child{margin-left: 0.469vw;}

#sec2 .sec_title{width: 47.448vw;}



@media screen and (max-width: 768px){

  #sec1{overflow: scroll;}
  img.px{image-rendering: auto;}
  .mo_block{display: block;}
  .mo_none{display: none;}

 
}